<h1>About</h1>
<p><strong>小組倉儲:</strong></p>
<p><strong><a href="https://github.com/40823219/stage3-bg3">https://github.com/40823236/stage3-bg3</a></strong></p>
<p><strong><a href="https://github.com/40823219/stage3-bg3">https://github.com/40823202/stage3-bg3</a></strong></p>
<p><a href="https://gitlab.com/40823203/stage3-bg3">https://gitlab.com/40823203/stage3-bg3</a></p>
<p><strong><a href="https://github.com/40823219/stage3-bg3">https://github.com/40823212/stage3-bg3</a></strong></p>
<p><strong><a href="https://github.com/40823219/stage3-bg3">https://github.com/40823219/stage3-bg3</a></strong></p>
<p><strong><a href="https://github.com/40823219/stage3-bg3">https://github.com/40823222/stage3-bg3</a></strong></p>
<p><strong><a href="https://github.com/40823219/stage3-bg3">https://github.com/40823231-2/stage3-bg3</a></strong></p>
<p><strong><a href="https://github.com/40823219/stage3-bg3">https://github.com/40823244/stage3-bg3</a></strong></p>
<p><strong>組員:</strong></p>
<p><b><a href="https://github.com/40823202/cd2021">40823202</a>/<a href="https://40823202.github.io/cd2021/content/index.html">40823202</a></b></p>
<p><b><a href="https://gitlab.com/40823203/cd2021">40823203</a>/<a href="https://40823203.gitlab.io/cd2021/content/index.html">40823203</a></b></p>
<p><strong><a href="https://github.com/40823212/cd2021">40823212</a>/<a href="https://40823212.github.io/cd2021/content/index.html">40823212</a></strong></p>
<p><strong><a href="https://github.com/40823219/cd2021">40823219</a>/<a href="https://40823219.github.io/cd2021/content/index.html">40823219</a></strong></p>
<p><b><a href="https://github.com/40823222/cd2021">40823222</a>/<a href="https://40823222.github.io/cd2021/content/index.html">40823222</a></b></p>
<p><b><a href="https://github.com/40823231-2/cd2021">40823231</a>/<a href="https://40823231-2.github.io/cd2021/content/index.html">40823231</a></b></p>
<p><b><a href="https://github.com/40823236/cd2021">40823236</a>/<a href="https://40823236.github.io/cd2021/content/index.html">40823236</a></b></p>
<p><b><a href="https://github.com/40823244/cd2021">40823244</a>/<a href="https://40823244.github.io/cd2021/content/index.html">40823244</a></b></p>
<h1>每周進度</h1>
<h2>W9</h2>
<p><strong>統整組員stage1、stage2的專案。</strong></p>
<h3>Stage1</h3>
<p><strong>bg7</strong></p>
<p>主題:三爪夾頭</p>
<p>原理<br/>夾頭底座的齒條和齒盤導軌嚙合,齒盤的斜面與斜 齒輪嚙合,當斜齒輪轉動時,帶動齒盤轉動,齒盤 背面的導軌也跟著轉動,讓夾頭底座的齒條跟著導 軌向中心移動,進而夾持工件。</p>
<p>繪製零件:40823212</p>
<p>程式模擬:40823236</p>
<p><strong>bg12</strong></p>
<p>主題:<span>鋁罐壓扁機</span></p>
<p>原理:利用直線運動機構分為精確直線運動機構和近似直線運動機構兩類。其中精確直線運動機構的設計思想主要有兩種：一種是利用幾何中的反演變換，把連杆末端的圓弧路徑反演為直線，用機械反演器可以完成這一功能；另一種則是通過兩個不平行的連杆結構，把路徑限制在兩個平面的交線。近似直線運動機構則是通過多個杆件實現自由度為1的連接，調整杆件的長度使得一點的運動軌跡中包含一段近似直的線段。</p>
<p>繪製零件:40823203</p>
<p>程式模擬:40823202</p>
<p><strong>bg19</strong></p>
<p><span>主題:格鬥機器人</span></p>
<p><span>原理:彈射機器人，他的問題是攻擊破壞性低，很難直接將對手擊殺，只能讓對手憑重力下來把自己摔壞或把對手丟進OUT區。彈射主要攻擊方式壓縮氣體沖入汽缸，汽缸快速反應，彈射板才能彈起來</span></p>
<p>繪製人員:40823219、40823231</p>
<p>程式模擬:40823219、40823231</p>
<p><strong>bg22</strong></p>
<p><span>主題:自動磨豆機</span></p>
<p><span>原理<br/>利用輾壓研磨原理，讓咖啡豆在兩塊圓錐鐵中輾壓研磨，錐鐵的距離決定咖啡粉的粗細程度，錐鐵間的距離愈近，粉末愈細；反之，粉末愈粗。</span></p>
<p>繪製組員:40823244 </p>
<p>程式模擬:40823222 </p>
<h3>Stage2</h3>
<p><strong>bg9</strong></p>
<p>主題:蒸汽火車</p>
<p>原理<br/>它是利用燃燒柴油或煤炭等燃料，將鍋爐中的水加熱以產生蒸氣，再由汽缸動力經連桿傳動機構，來推動輪子使車子前進。</p>
<p><span>繪圖:</span><span>40823212</span></p>
<p><span>模擬:40823219，40823231、40823236</span></p>
<p><strong>bg10</strong></p>
<p><span>主題:彈珠軌道</span></p>
<p><span>原理:1.運用阿基米得原理，讓彈珠可以沿著一個平面向上移動。</span></p>
<p><span>             2.運用凸輪原理，使其做一個上下的使其做一個上下的反覆運動，讓彈珠可以像爬階梯一樣。</span></p>
<p>             3.用圓盤的轉動，將球運送至彈珠台(控制圓盤的轉數去查看彈珠的運動軌跡)。</p>
<p><span>繪圖:</span><span>40823202 、40823203 、40823244 </span></p>
<p><span>模擬:40823202 、40823222 </span></p>
<h2>W10</h2>
<h3>task1</h3>
<p><strong>讀取 <a href="http://mde.tw/cd2021/downloads/stage3/stage3_2b.txt">stage3_2b.txt</a>, 建立 Stage3 的分組倉儲, 分組網頁, 以及各組員倉儲及網頁連結.</strong></p>
<p><a href="http://github.com/40823245/stage3-bg1">stage3-bg1 repo</a> | <a href="http://40823251.github.io/stage3-bg1">stage3-bg1 site</a> | <a href="http://github.com/40823245/cd2021">40823245 repo</a> | <a href="http://40823245.github.io/cd2021">40823245 site</a> | <a href="http://github.com/40823251/cd2021">40823251 repo</a> | <a href="http://40823251.github.io/cd2021">40823251 site</a> | <a href="http://github.com/40823208/cd2021">40823208 repo</a> | <a href="http://40823208.github.io/cd2021">40823208 site</a> | <a href="http://github.com/40823213/cd2021">40823213 repo</a> | <a href="http://40823213.github.io/cd2021">40823213 site</a> | <a href="http://github.com/40823232/cd2021">40823232 repo</a> | <a href="http://40823232.github.io/cd2021">40823232 site</a> | <a href="http://github.com/40823234/cd2021">40823234 repo</a> | <a href="http://40823234.github.io/cd2021">40823234 site</a> | <a href="http://github.com/40823235/cd2021">40823235 repo</a> | <a href="http://40823235.github.io/cd2021">40823235 site</a> | <a href="http://github.com/40823246/cd2021">40823246 repo</a>| <a href="http://40823246.github.io/cd2021">40823246 site</a><br/>----------<br/><a href="http://github.com/40823217/stage3-bg2">stage3-bg2 repo</a> | <a href="http://40823201.github.io/stage3-bg2">stage3-bg2 site</a> | <a href="http://github.com/40823217/cd2021">40823217 repo</a> | <a href="http://40823217.github.io/cd2021">40823217 site</a> | <a href="http://github.com/40823201/cd2021">40823201 repo</a> | <a href="http://40823201.github.io/cd2021">40823201 site</a> | <a href="http://github.com/40823209/cd2021">40823209 repo</a> | <a href="http://40823209.github.io/cd2021">40823209 site</a> | <a href="http://github.com/40823210/cd2021">40823210 repo</a> | <a href="http://40823210.github.io/cd2021">40823210 site</a> | <a href="http://github.com/40823206/cd2021">40823206 repo</a> | <a href="http://40823206.github.io/cd2021">40823206 site</a> | <a href="http://github.com/40823207/cd2021">40823207 repo</a> | <a href="http://40823207.github.io/cd2021">40823207 site</a> | <a href="http://github.com/40823223/cd2021">40823223 repo</a> | <a href="http://40823223.github.io/cd2021">40823223 site</a> | <a href="http://github.com/40823224/cd2021">40823224 repo</a>| <a href="http://40823224.github.io/cd2021">40823224 site</a><br/>----------<br/><a href="http://github.com/40823236/stage3-bg3">stage3-bg3 repo</a> | <a href="http://40823202.github.io/stage3-bg3">stage3-bg3 site</a> | <a href="http://github.com/40823236/cd2021">40823236 repo</a> | <a href="http://40823236.github.io/cd2021">40823236 site</a> | <a href="http://github.com/40823202/cd2021">40823202 repo</a> | <a href="http://40823202.github.io/cd2021">40823202 site</a> | <a href="http://github.com/40823203/cd2021">40823203 repo</a> | <a href="http://40823203.github.io/cd2021">40823203 site</a> | <a href="http://github.com/40823212/cd2021">40823212 repo</a> | <a href="http://40823212.github.io/cd2021">40823212 site</a> | <a href="http://github.com/40823219/cd2021">40823219 repo</a> | <a href="http://40823219.github.io/cd2021">40823219 site</a> | <a href="http://github.com/40823222/cd2021">40823222 repo</a> | <a href="http://40823222.github.io/cd2021">40823222 site</a> | <a href="http://github.com/40823231-2/cd2021">40823231-2 repo</a> | <a href="http://40823231-2.github.io/cd2021">40823231-2 site</a> | <a href="http://github.com/40823244/cd2021">40823244 repo</a>| <a href="http://40823244.github.io/cd2021">40823244 site</a><br/>----------<br/><a href="http://github.com/40823239/stage3-bg4">stage3-bg4 repo</a> | <a href="http://s40723140.github.io/stage3-bg4">stage3-bg4 site</a> | <a href="http://github.com/40823239/cd2021">40823239 repo</a> | <a href="http://40823239.github.io/cd2021">40823239 site</a> | <a href="http://github.com/s40723140/cd2021">s40723140 repo</a> | <a href="http://s40723140.github.io/cd2021">s40723140 site</a> | <a href="http://github.com/s40723128/cd2021">s40723128 repo</a> | <a href="http://s40723128.github.io/cd2021">s40723128 site</a> | <a href="http://github.com/s40723139/cd2021">s40723139 repo</a> | <a href="http://s40723139.github.io/cd2021">s40723139 site</a> | <a href="http://github.com/s40723106/cd2021">s40723106 repo</a> | <a href="http://s40723106.github.io/cd2021">s40723106 site</a> | <a href="http://github.com/s40723135/cd2021">s40723135 repo</a> | <a href="http://s40723135.github.io/cd2021">s40723135 site</a> | <a href="http://github.com/s40723143/cd2021">s40723143 repo</a> | <a href="http://s40723143.github.io/cd2021">s40723143 site</a> | <a href="http://github.com/s40723215/cd2021">s40723215 repo</a>| <a href="http://s40723215.github.io/cd2021">s40723215 site</a><br/>----------<br/><a href="http://github.com/40823221/stage3-bg5">stage3-bg5 repo</a> | <a href="http://40823204.github.io/stage3-bg5">stage3-bg5 site</a> | <a href="http://github.com/40823221/cd2021">40823221 repo</a> | <a href="http://40823221.github.io/cd2021">40823221 site</a> | <a href="http://github.com/40823204/cd2021">40823204 repo</a> | <a href="http://40823204.github.io/cd2021">40823204 site</a> | <a href="http://github.com/40823205/cd2021">40823205 repo</a> | <a href="http://40823205.github.io/cd2021">40823205 site</a> | <a href="http://github.com/40823220/cd2021">40823220 repo</a> | <a href="http://40823220.github.io/cd2021">40823220 site</a> | <a href="http://github.com/40823228/cd2021">40823228 repo</a> | <a href="http://40823228.github.io/cd2021">40823228 site</a> | <a href="http://github.com/40823237/cd2021">40823237 repo</a> | <a href="http://40823237.github.io/cd2021">40823237 site</a> | <a href="http://github.com/40823242/cd2021">40823242 repo</a> | <a href="http://40823242.github.io/cd2021">40823242 site</a> | <a href="http://github.com/40823250/cd2021">40823250 repo</a>| <a href="http://40823250.github.io/cd2021">40823250 site</a> | <a href="http://github.com/40832244/cd2021">40832244 repo</a>| <a href="http://40832244.github.io/cd2021">40832244 site</a><br/>----------<br/><a href="http://github.com/40823225/stage3-bg6">stage3-bg6 repo</a> | <a href="http://40823214.github.io/stage3-bg6">stage3-bg6 site</a> | <a href="http://github.com/40823225/cd2021">40823225 repo</a> | <a href="http://40823225.github.io/cd2021">40823225 site</a> | <a href="http://github.com/40823214/cd2021">40823214 repo</a> | <a href="http://40823214.github.io/cd2021">40823214 site</a> | <a href="http://github.com/40823218/cd2021">40823218 repo</a> | <a href="http://40823218.github.io/cd2021">40823218 site</a> | <a href="http://github.com/40823211/cd2021">40823211 repo</a> | <a href="http://40823211.github.io/cd2021">40823211 site</a> | <a href="http://github.com/40823248/cd2021">40823248 repo</a> | <a href="http://40823248.github.io/cd2021">40823248 site</a> | <a href="http://github.com/40823247/cd2021">40823247 repo</a> | <a href="http://40823247.github.io/cd2021">40823247 site</a> | <a href="http://github.com/40823216/cd2021">40823216 repo</a> | <a href="http://40823216.github.io/cd2021">40823216 site</a> | <a href="http://github.com/40823238/cd2021">40823238 repo</a>| <a href="http://40823238.github.io/cd2021">40823238 site</a><br/>----------<br/><a href="http://github.com/40623144/stage3-bg7">stage3-bg7 repo</a> | <a href="http://40823233.github.io/stage3-bg7">stage3-bg7 site</a> | <a href="http://github.com/40623144/cd2021">40623144 repo</a> | <a href="http://40623144.github.io/cd2021">40623144 site</a> | <a href="http://github.com/40823233/cd2021">40823233 repo</a> | <a href="http://40823233.github.io/cd2021">40823233 site</a> | <a href="http://github.com/s40723224/cd2021">s40723224 repo</a> | <a href="http://s40723224.github.io/cd2021">s40723224 site</a> | <a href="http://github.com/40823241/cd2021">40823241 repo</a> | <a href="http://40823241.github.io/cd2021">40823241 site</a> | <a href="http://github.com/40423155/cd2021">40423155 repo</a> | <a href="http://40423155.github.io/cd2021">40423155 site</a> | <a href="http://github.com/40823227/cd2021">40823227 repo</a> | <a href="http://40823227.github.io/cd2021">40823227 site</a> | <a href="http://github.com/s40723233/cd2021">s40723233 repo</a> | <a href="http://s40723233.github.io/cd2021">s40723233 site</a><br/>----------</p>
<h3>task2</h3>
<p>使用白窗控制Coppeliasim</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/PffF-6AdBO0" title="YouTube video player" width="560"></iframe></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/_JbxYY4hdos" title="YouTube video player" width="560"></iframe></p>
<p>程式碼參考第一組成員40823245~</p>
<pre class="brush:py;auto-links:false;toolbar:false" contenteditable="false">import sim as vrep
import math
import random
import time
import keyboard
  
print ('Start')
  
# Close eventual old connections
vrep.simxFinish(-1)
# Connect to V-REP remote server
clientID = vrep.simxStart('192.168.1.111', 19997, True, True, 5000, 5)
   
if clientID !=-1:
    print ('Connected to remote API server')
    
    res = vrep.simxAddStatusbarMessage(
        clientID, "40823231",
        vrep.simx_opmode_oneshot)
           
    if res not in (vrep.simx_return_ok, vrep.simx_return_novalue_flag):
        print("Could not add a message to the status bar.")
           
    opmode = vrep.simx_opmode_oneshot_wait
      
    vrep.simxStartSimulation(clientID, opmode)
    ret,shaft1=vrep.simxGetObjectHandle(clientID,"shaft_1",opmode)
    ret,shaft2=vrep.simxGetObjectHandle(clientID,"shaft_2",opmode)
    ret,shaft3=vrep.simxGetObjectHandle(clientID,"shaft_3",opmode)
 
    while True:
        if keyboard.is_pressed("w"):
            vrep.simxSetJointTargetVelocity(clientID,shaft1,2,opmode)
            print("w")
             
        if keyboard.is_pressed("s"):
            vrep.simxSetJointTargetVelocity(clientID,shaft1,0,opmode)
            print("s")
             
        if keyboard.is_pressed("a"):
            vrep.simxSetJointTargetVelocity(clientID,shaft2,2,opmode)
            print("a")
 
        if keyboard.is_pressed("b"):
            vrep.simxSetJointTargetVelocity(clientID,shaft2,0,opmode)
            print("b")
             
        if keyboard.is_pressed("c"):
            vrep.simxSetJointTargetVelocity(clientID,shaft3,0.1,opmode)
            print("c")
 
        if keyboard.is_pressed("z"):
            vrep.simxSetJointTargetVelocity(clientID,shaft3,0,opmode)
            print("z")            
else:
    print ('Failed connecting to  remote API server')
    print ('End')
</pre>
<h2>W11</h2>
<p><strong>小組討論內容</strong></p>
<h3>小組討論內容</h3>
<p>&lt;&lt;&lt;&lt;&lt;&lt;&lt; HEAD =======</p>
<p>&gt;&gt;&gt;&gt;&gt;&gt;&gt; a57e3c1b9b4bd2cfd36716a4b8e9879952eb88c5</p>
<p>&gt;&gt;&gt;&gt;&gt;&gt;&gt; a984726d097ef04a16263aa2e8c6e0deaf21e436</p>
<p>&gt;&gt;&gt;&gt;&gt;&gt;&gt; 66551de74ccff48242498d98d87004ac4d93ec85</p>
<p><strong>構想:</strong>利用stage2-bg10(彈珠檯)以及stage2-bg9(火車)結合，並新增兩台機器，</p>
<p>使用火車搭配鐵軌進行運送，將球運送至每台機器上。</p>
<p><strong>功能說明:</strong></p>
<p>第一台為stage2-bg10的彈珠台，球體運送完後會自行進行模擬</p>
<p>第二台為新版彈珠台，主要控制為拉桿，透過拉桿將球體彈出，所觸碰到的機關會計算分數</p>
<p>第三台為迷宮，透過控制迷宮板使球體移動來通關迷宮</p>
<p><strong>構想圖:</strong><strong><img alt="" height="300" src="/images/L5CjRiR.png" width="545"/></strong></p>
<h1>零件圖</h1>
<h2>彈珠檯</h2>
<p>第一版</p>
<p>主體</p>
<p><img caption="false" height="475" src="/images/彈珠檯組合圖.png" width="500"/></p>
<p>擊球機構</p>
<p><img alt="" height="369" src="/images/擊球機構.png" width="500"/></p>
<p>往復機構</p>
<p><img alt="" height="379" src="/images/往復機構.png" width="500"/></p>
<h2>迷宮</h2>
<p>第一版</p>
<p>組合圖</p>
<p><img alt="" height="338" src="/images/迷宮組合圖.png" width="500"/></p>
<p>迷宮檯面</p>
<p><img alt="" height="355" src="/images/迷宮檯面.png" width="500"/></p>
<p>旋轉機構</p>
<p><img alt="" height="312" src="/images/旋轉機構.png" width="500"/></p>
<p>旋轉軸</p>
<p><img alt="" height="559" src="/images/軸.png" width="500"/></p>
<p></p>
<h1>模擬</h1>
<h1>直播影片</h1>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="338" src="//www.youtube.com/embed/sH2QMcHNTIU" title="YouTube video player" width="600"></iframe></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/26xQmaEDBzI" title="YouTube video player" width="560"></iframe></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/ieQEChlieB8" title="YouTube video player" width="560"></iframe></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/jiWKfSC_VDo" title="YouTube video player" width="560"></iframe></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/HXCS1ybTpjU" title="YouTube video player" width="560"></iframe></p>
<p></p>